<h1>Enter Your Car Details</h1>
<form action="/cars" method="post">

  <label for="make-model">Enter your car model</label>
  <input id="new-make-model" name="make-model" type="text">

  <label for="car-price">Enter your car price</label>
  <input id="car-price" name="car-price" type="number">

  <label for="car-mileage">Enter your car mileage</label>
  <input id="car-mileage" name="car-mileage" type="number">

  <button type="submit">Submit</button>
</form>
